html {
    background-color: #303334;
    overflow: hidden;
}

.page {
    width: 100vw;
}

#guessing-grid {
    margin: auto;
    width: 30vw;
}

.guess-row {
    display: flex;
    justify-content: center;
}

.cell {
    border-radius: 3px;
    min-width: 50px;
    min-height: 50px;
    line-height: 50px;     
    background-color: #7f8285;
    margin: 3px;
    font-size: 1.5em;
    color: #f0f0f0;
    text-align: center;
    vertical-align: middle;

    font-family: "Lato", sans-serif;
    font-weight: 700;
    font-style: normal;
}

#error {
    font-family: "Lato", sans-serif;
    font-weight: 700;
    font-style: normal;
    color: #f0f0f0;
    background-color: #a64141;
    border-radius: 3px;
    border: solid 1px #f71c1c;

    text-align: center;
    margin: 2px;
    padding: 5px;
    margin: 4px auto;
    width: 266px;
    display: none;
}

.cell-correct {
    background-color: #4a9e4a;
}

.cell-wrong-place {
    background-color: #c8b339;
}

.cell-incorrect {
    background-color: #5e6164;
}