@keyframes tile-rotate {
    0% {
        transform: rotateX(0deg);
        background-color: #5e6164;
    }
    49.9999% {
        transform: rotateX(90deg);
    }
    50% {
        transform: rotateX(270deg);
        background-color: initial;
    }
    100% {
        transform: rotateX(360deg);
    }
}

@keyframes tile-error-wiggle {
    0%,
    100% {
        transform: rotate(0deg);
    }
    12.5%,
    62.5% {
        transform: rotate(-5deg);
    }
    25%,
    75% {
        transform: rotate(5deg);
    }
}

.tile {
    border-radius: 3px;
    min-width: 50px;
    min-height: 50px;
    width: 50px;
    height: 50px;
    line-height: 50px;     
    background-color: #5e6164;
    margin: 3px;
    font-size: 1.5em;
    text-align: center;
    vertical-align: middle;
}

.tile-correct, .tile-wrong-place, .tile-incorrect {
    animation: tile-rotate 1s;
    animation-fill-mode: backwards;
}

.tile-correct {
    background-color: var(--success-color);
}

.tile-wrong-place {
    background-color: var(--warning-color);
}

.tile-error {
    background-color: var(--error-color);
}

.tile-row .tile:nth-child(1) { animation-delay: 0s; }
.tile-row .tile:nth-child(2) { animation-delay: .25s; }
.tile-row .tile:nth-child(3) { animation-delay: .5s; }
.tile-row .tile:nth-child(4) { animation-delay: .75s; }
.tile-row .tile:nth-child(5) { animation-delay: 1s; }
.tile-row .tile:nth-child(6) { animation-delay: 1.25s; }
.tile-row .tile:nth-child(7) { animation-delay: 1.5s; }
.tile-row .tile:nth-child(8) { animation-delay: 1.75s; }
.tile-row .tile:nth-child(9) { animation-delay: 2s; }
.tile-row .tile:nth-child(10) { animation-delay: 2.25s; }


.tile-error {
    animation: tile-error-wiggle .4s;
    animation-delay: 0s !important;
}