.keyboard-key {
    border-radius: 3px;
    min-width: 30px;
    min-height: 30px;
    width: 30px;
    height: 30px;
    line-height: 30px;
    margin: 3px;
    font-size: 1em;
    text-align: center;
    vertical-align: middle;
    background-color: var(--primary-dark-color);
}

.used {
    background-color: var(--background-color);
}

.correct {
    background-color: var(--success-color);
}