.alert-parent {
    display: flex;
    justify-content: center;
}

.alert {
    width: 300px;
    margin: 5px;
    border-radius: 5px;
    padding: 10px;
    min-height: 20px;
    height: 20px;
    line-height: 20px;
}

.alert-error {
    background-color: var(--error-color);
}

.alert-success {
    background-color: var(--success-color);
}